.bg-info{
    font-family: Raleway !important;
    color: #555;
    background-color: #ff5252 !important;

}
.margin{
    margin: 100px;
}
.flexbox{

    display: flex;
    flex-direction: row;
    margin: auto !important;
    background-image: url(../background.png);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    width: fit-content;
    justify-content: space-evenly;
}
.image{
    margin-bottom: 20px;
}
.flex{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.extra{
    justify-content: center;
}
.col-md-3{
    padding-right: 0px !important;
    padding-left: 0px !important;
    justify-content: center;
    width: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.col-lg-2{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: white;
    min-width: 250px;
    height: 400px;
}

